

$body-bg:   rgba(217, 242, 255, 0.829);
.alpha { background-color: rgb(141, 115, 233); }
#pad-navz {
    padding-bottom: 10%;
}

$navbar-light-color:                  black;
$navbar-light-hover-color:           white;
$navbar-light-active-color:          white;